@model List<Proyecto>
@{
    ViewData["Title"] = "Silo Manager";
}

<h2>Autorización de Salidas/Entradas del Almacén</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre del Proyecto</th>
            <th scope="col">Dispositivos/Material salido del almacén</th>
            <th scope="col">Dispositivos/Material regresado del almacén</th>
            <th scope="col">Autorización de Salida</th>
            <th scope="col">Autorización de Entrada</th>
            <th scope="col">Autorizar Salida</th>
            <th scope="col">Autorizar Entrada</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var proyecto in @Model)
        {
            <tr>
                <th scope="row">@proyecto.ProyectoId</th>
                <td>@proyecto.ProyectoName</td>
                <td>
                    <a href="~/../Almacen/Salidas/VerSalidas/@proyecto.ProyectoId">Ver</a>
                </td>
                <td>
                    <a href="~/../Almacen/Entradas/VerEntradas/@proyecto.ProyectoId">Ver</a>
                </td>
                <td>
                    <b>@proyecto.AuthSalida</b>
                </td>
                <td>
                    <b>@proyecto.AuthEntrada</b>
                </td>
                <td>
                    @if (proyecto.AuthSalida == "NO")
                    {
                        <button type="button">Autorizar</button>
                    }
                </td>
                <td>
                    @if (proyecto.AuthEntrada == "NO")
                    {
                        <button type="button">Autorizar</button>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>