@model CatTipoArt

@{
    ViewData["Title"] = "Silo Manager";
}

<h2>Nuevo Tipo de Artículo</h2>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

<form method="POST">
    <div class="form-group">
        <label asp-for="TipoArtDesc" class="form-control">Tipo de Artículo</label>
        <input type="text" asp-for="TipoArtDesc">
        <span asp-validation-for="TipoArtDesc" class="text-danger"></span>
    </div>
    <input type="submit" value="Guardar"/>
</form>